@page
@model PrivacyModel
@{
    ViewData["Title"] = "Info";
}
<h1>@ViewData["Title"]</h1>

<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title link-success">Filezinho</h5>
    <p class="card-text">
        Primeiramente gostaria de agradecer pela oportunidade de poder estar participando desse processo seletivo

    </p>
    <p class="text-primary" >Obrigado</p>
  </div>
</div>
